<h2>Media Table</h2>
<table data-bind="attr: { id: component_id }">
    <caption>
        
    </caption>
    <thead>
        <tr>
            <th class="sortable searcheable visit_url" data-bind="click: function() { selectedSort('visit_url') }">Page URL</th>
            <th class="sortable searcheable media_link" data-bind="click: function() { selectedSort('media_link') }">Media Link</th>
            <th class="sortable searcheable alt_text" data-bind="click: function() { selectedSort('alt_text') }">Alt Text</th>
            <th class="sortable searcheable date" data-bind="click: function() { selectedSort('date') }">Date</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: visits">
        <tr data-bind="style: {cached: is_cached}">
            <td data-bind="text: visit_url"></td>
            <td data-bind="text: media_link"></td>
            <td data-bind="text: alt_text"></td>
            <td data-bind="text: date"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <button data-bind="click: function() { page(0) }">First</button>
                <button data-bind="click: function() { page(page() - 1) }">Previous</button>
                <button disabled data-bind="text: page() + 1"></button>
                <button data-bind="click: function() { page(page() + 1) }">Next</button>
                <button data-bind="click: function() { page(pages() - 1) }, text: pages"></button>
                Per-Page: <input type="number" data-bind="value: limit, valueUpdate: 'input'">
            </td>
        </tr>
    </tfoot>
</table>